.autocad-model-wrapper {
    //margin: -15vh 0;

    .autocad-model {
        position: relative;
        z-index: -1;

        //height: 100vh;

        img {
            //position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            max-width: 1000px;
            margin: 0 auto;

            //transform: translateY(-50%) translateX(-50%);
       
        }

        img:first-child {
            position: static;
        }

        img:nth-child(1) {
            z-index: -1;
        }

        img:nth-child(2) {
            z-index: -2;
        }

        img:nth-child(3) {
            z-index: -3;
        }

        img:nth-child(4) {
            z-index: -4;
        }

        img:nth-child(5) {
            z-index: -5;
        }

        img:nth-child(6) {
            z-index: -6;
        }

        img:nth-child(7) {
            z-index: -7;
        }
    }

    @media (min-height: 1250px) {
        img {
            max-width: 1300px;
        }
    }

    @include breakpoint(large) {
        .autocad-model {
            img {
                max-width: 50%;
            }
        }
    }


    @include breakpoint(medium) {
        .autocad-model {
            img {
                max-width: 70%;
            }
        }
    }


    @include breakpoint(small) {
        .autocad-model {
            img {
                max-width: 80%;
            }
        }
    }


    @include breakpoint(extra-small) {
        .autocad-model {
            img {
                max-width: 100%;
            }
        }
    }


    @include breakpoint(full-mobile-landscape) {
        .autocad-model {
            img {
                max-width: 60%;
            }
        }
    }
}