.contacts {
    height: 100vh;

    .contacts-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .contact-header {
        text-align: center;
        color: #fff;
        margin-bottom: 40px;
    }

    .contact-card-line {
        display: flex;
    }

    @include breakpoint(medium) {
        .contact-card-line {
            flex-direction: column;
        }
    }


    @include breakpoint(extra-small) {
        .contacts-content {
            width: 100%;
        }

        .contact-card-line {
            width: 100%;
        }
    }
}