.footer-nav {
    display: flex;
    justify-content: center;
    margin-top: 25px;

    .footer-nav-link {
        margin-left: 40px;
    }

    a {
        padding: 10px;
        font-size: 14px;
        text-transform: uppercase;

        &:hover {
            text-decoration: underline;
        }
    }

    @include breakpoint(medium) {
        display: none;
    }


    @include breakpoint(large) {
        margin-top: 10px;

        a {
            font-size: rem(11);
        }
    }
}