.lc200-page {
    .description-line-360 .product-content .feature-list {
        @media (max-width: 880px) {
            ul {
                display: inline-block;
            }

            li {
                display: block;

                &::before {
                    display: none;
                }

                &::after, &:last-child::after {
                    content: '';
                    display: block;
                    height: 1px;
                    margin: 0 -25px;
                    background-color: #000;
                    background: linear-gradient(to right, transparent, #979ba0 20%, #979ba0 80%, transparent 100%);
                }

                &:first-child::before {
                    content: '';
                    display: block;
                    height: 1px;
                    margin: 0 -25px;
                    background-color: #000;
                    background: linear-gradient(to right, transparent, #979ba0 20%, #979ba0 80%, transparent 100%);
                }
            }
        }
    }

    .feature-list {
        @media (min-width: 1200px) {
            max-width: 240px;

            ul li a {
                line-height: 1.3;
            }
        }
    }

    .overview-super-tourer {
        .overview-descroptopn {}

        .price {
            .number, .from {
                margin-bottom: 0;
            }
        }
    }

    .tour360 {
        .plus-point-group {
            &.group-02 {
                .point1 {
                    bottom: 37%;
                    left: 61.5%;
                }

                .point2 {
                    bottom: 35%;
                    left: 37.5%;
                }

                .point3 {
                    bottom: 28%;
                    left: 30.5%;
                }

                .point4 {
                    bottom: 10%;
                    left: 43.5%;
                }

                .point5 {
                    bottom: 12%;
                    left: 59.5%;
                }

                .point6 {
                    bottom: 26%;
                    left: 55%;
                }

                .point7 {
                    bottom: 19%;
                    left: 76%;
                }

                .point8 {
                    bottom: 10%;
                    left: 57%;
                }

                .point9 {
                    bottom: 10%;
                    left: 19%;
                }

                .point10 {
                    bottom: 16%;
                    left: 18%;
                }

                .point11 {
                    bottom: 18.5%;
                    left: 12.5%;
                }

                .point12 {
                    bottom: 20%;
                    left: 16.5%;
                }

                .point13 {
                    bottom: 18.5%;
                    left: 22%;
                }
            }

            &.group-03 {
                .point1 {
                    bottom: 16.5%;
                    left: 47.5%;
                }

                .point2 {
                    bottom: 17%;
                    left: 27.5%;
                }

                .point3 {
                    bottom: 22%;
                    left: 17.5%;
                }

                .point4 {
                    bottom: 17%;
                    left: 50%;
                }

                .point5 {
                    bottom: 18%;
                    left: 60.5%;
                }
            }

            &.group-04 {
                .point1 {
                    top: 3%;
                    right: 38%;
                    bottom: auto;
                    left: auto;
                }

                .point2 {
                    top: 26.5%;
                    right: 37%;
                    bottom: auto;
                    left: auto;
                }

                .point3 {
                    top: 37.5%;
                    right: 46%;
                    bottom: auto;
                    left: auto;
                }
            }

            &.group-06 {
                .point1 {
                    left: 39%;
                    bottom: 32%;
                }

                .point2 {
                    left: 45%;
                    bottom: 49%;
                }
            }

            &.group-08 {
                bottom: 5vh;
                left: 0;
                width: 50vw;
                height: 27vw;

                .point1 {
                    bottom: 31%;
                    right: 27%;
                }

                .point2 {
                    bottom: 56%;
                    right: 12%;
                }

                .point3 {
                    bottom: 68%;
                    right: 30%;
                }

                .point4 {
                    bottom: 61%;
                    right: 25%;
                }

                .point5 {
                    bottom: 68%;
                    left: 41%;
                }

                .point6 {
                    bottom: 39%;
                    left: 15%;
                }

                .point7 {
                    bottom: 51%;
                    left: 17%;
                }

                .point8 {
                    bottom: 36%;
                    right: 12%;
                }

                .point9 {
                    bottom: 47%;
                    left: 1%;
                }

                .point10 {
                    bottom: 34%;
                    right: 0;
                }
            }
        }
    }

    @include breakpoint(medium) {
        .tour360 {
            .tour360-inner-block {
                min-height: inherit;
            }
        }
    }
}