.double-line-button {
    display: inline-block;
    min-width: 160px;
    height: 24px;
    border-top: 2px solid #a2a795;
    border-right: 0;
    border-bottom: 2px solid #a2a795;
    border-left: 0;
    background-color: transparent;
    font-family: $pn-bold;
    font-size: rem(9);
    line-height: 24px;
    opacity: 0.5;
    transition-property: opacity;
    transition-duration: 0.3s;

    &:hover, &.active, &.js-tab-link-active {
        opacity: 1;
    }
}